In [1]:
import pandas as pd
import numpy as np
import os
os.chdir(r"C:\Users\aman.khatri91425\Desktop\HomeCredit\UW\Bureau Imputed Income")

# Read Data

In [2]:
df = pd.read_csv(os.getcwd()+r"\Data Files\fit_analyse.csv")

# Data Cleaning & Date Formatting

In [3]:
df.TIME_CREATION_DATE = pd.to_datetime(df.TIME_CREATION_DATE, format = '%d-%m-%y')
df["MONTH"] = df.TIME_CREATION_DATE.dt.strftime(date_format = '%Y-%m')
df.dropna(subset = ["FINAL_EMI","ESTIMATED_INCOME"], inplace = True)
df.ESTIMATED_INCOME = np.round(df.ESTIMATED_INCOME)

# Fill Rates

In [4]:
df[["MEMBERREFERENCE","PERFIOS_INCOME","YODLEE_INCOME","SDK_INCOME"]].agg(['count']).reset_index()

   index  MEMBERREFERENCE  PERFIOS_INCOME  YODLEE_INCOME  SDK_INCOME
0  count             3460              24           3238         488

In [5]:
df_summ=df[["MEMBERREFERENCE","PERFIOS_INCOME","YODLEE_INCOME","SDK_INCOME","MONTH"]].groupby("MONTH").agg(['count']).reset_index()
df_summ.columns = ['_'.join([x,y]) for (x,y) in df_summ.columns]
df_summ

,MONTH_,MEMBERREFERENCE_count,PERFIOS_INCOME_count,YODLEE_INCOME_count,SDK_INCOME_count
0,2018-01,33,0,33,0
1,2018-02,63,0,63,0
2,2018-03,29,0,29,0
3,2018-04,11,0,11,0
4,2018-05,49,0,49,0
5,2018-06,611,0,611,0
6,2018-07,89,0,89,0
7,2018-08,87,0,87,0
8,2018-09,140,0,140,0
9,2018-10,66,0,66,0
10,2019-02,29,0,29,0
11,2019-03,79,0,79,0
12,2019-04,107,0,107,0
13,2019-05,124,0,124,0
14,2019-06,165,0,165,0
15,2019-07,630,0,630,0
16,2019-08,159,0,159,0
17,2019-09,107,0,107,0
18,2019-10,150,0,150,0
19,2019-11,167,0,156,28
20,2019-12,177,0,123,142
21,2020-01,176,0,135,140
22,2020-02,122,0,90,99
23,2020-03,2,0,2,2
24,2020-06,5,3,2,3
25,2020-07,6,6,0,5
26,2020-08,18,1,2,16
27,2020-09,13,4,0,11
28,2020-10,19,6,0,17
29,2020-11,15,1,0,14
30,2020-12,12,3,0,11

In [6]:
df.shape

(3460, 11)

In [7]:
df[["ESTIMATED_INCOME","PERFIOS_INCOME","SDK_INCOME","YODLEE_INCOME"]].mean()

ESTIMATED_INCOME    137792.292775
PERFIOS_INCOME       36095.342917
SDK_INCOME          119072.670082
YODLEE_INCOME        80529.503706
dtype: float64

# Goodness Of Fit: Yodlee

In [44]:
df_yodlee = df.dropna(subset = ['YODLEE_INCOME'])
df_yodlee = df_yodlee[df_yodlee["YODLEE_INCOME"]>0]

In [45]:
df_yodlee.shape

(3132, 11)

In [43]:
df_yodlee.head()

,MEMBERREFERENCE,FINAL_EMI,ESTIMATED_INCOME,PERFIOS_INCOME,SDK_INCOME,YODLEE_INCOME,TIME_CREATION_DATE,TRADELINE_COUNT,FSTPD30_FLAG,HL_FLAG,MONTH
0,3905682567,313564.0,1009614.0,NaN,NaN,0.0,2019-07-18,133,0,1,2019-07
1,4001648571,9366.0,30157.0,NaN,272969.0,163647.0,2020-02-08,16,1,0,2020-02
2,3805057144,11038.0,35540.0,NaN,NaN,15096.0,2018-07-31,12,1,0,2018-07
3,3906118585,29095.0,93680.0,NaN,NaN,49770.0,2019-08-01,24,0,0,2019-08
5,3806393803,330168.0,1063076.0,NaN,NaN,166370.0,2018-09-14,74,0,0,2018-09

In [40]:
df.shape

(3461, 11)

### Overall

In [56]:
from sklearn.metrics import r2_score
def r_sq(income_pred, income_act):
    return r2_score(income_act, income_pred)

def corr(income_pred, income_act):
    return np.corrcoef(income_act, income_pred)[0,1]

def ratio(emi, income_act):
    return np.sum(income_act)/np.sum(emi)

In [51]:
print(r2_score(df_yodlee["YODLEE_INCOME"],df_yodlee["ESTIMATED_INCOME"]))

-6.629769245807789

In [55]:
print(np.corrcoef(df_yodlee["YODLEE_INCOME"],df_yodlee["ESTIMATED_INCOME"])[0,1])

0.18587674929464426

In [57]:
print(np.sum(df_yodlee["YODLEE_INCOME"])/sum(df_yodlee["FINAL_EMI"]))

1.8826522291543373