In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
import os

In [4]:
os.chdir(r"C:\Users\aman.khatri91425\Desktop\HomeCredit\UW\Udaan POS Analysis")

In [5]:
df = pd.read_csv(os.getcwd()+ r"\Data Files\loan_performance_udaan.csv")

In [6]:
df.head()

,SKP_CREDIT_CASE,POS_TYPE,TIME_CREATION_DATE,RISK_FPD10,RISK_AGRF10,RISK_FPD30,RISK_AGRF30,RISK_FSPD30,RISK_AGRF60,RISK_FSTPD30,...,RISK_FSTQPD30,RISK_AGRF120,RISK_FSTQPD60,RISK_AGRF150,POS_AUG20_GM,POS_AUG20_GM_WO_PRODUCT,SCORE_APSC_NOV18,CLIENT_EXI_3M,FLAG_1PCT_PHANTOM,NTC_FLAG
0,318014362,UDAAN,07-09-20,0,1,0,1,0,1,0,...,0,0,0,0,NaN,NaN,0.007830,N,0,NTC
1,318037792,UDAAN,07-09-20,0,1,0,1,0,1,0,...,0,0,0,0,NaN,NaN,0.009900,N,0,Others
2,318033501,UDAAN,07-09-20,0,1,0,1,0,1,0,...,0,0,0,0,NaN,NaN,0.004361,N,0,NTC
3,318031713,UDAAN,07-09-20,0,1,0,1,0,1,0,...,0,0,0,0,NaN,NaN,0.008086,N,0,NTC
4,318031874,UDAAN,07-09-20,0,1,0,1,0,1,0,...,0,0,0,0,NaN,NaN,0.009065,N,0,NTC

In [26]:
df["TIME_CREATION_DATE"] = pd.to_datetime(df["TIME_CREATION_DATE"],format = '%d-%m-%y')
df["MONTH"] = df["TIME_CREATION_DATE"].dt.strftime('%Y-%m')
df["MONTH"].value_counts().sort_index()

2020-09    1503
2020-10    2540
2020-11    4076
2020-12    2568
Name: MONTH, dtype: int64

# Gini: FPD30 Rate

In [20]:
score = 'POS_AUG20_GM'
df_temp = df.dropna(subset = [score])[df["RISK_AGRF30"]==1]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tGini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)

score = 'POS_AUG20_GM_WO_PRODUCT'
df_temp = df.dropna(subset = [score])[df["RISK_AGRF30"]==1]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tGini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)

score = 'SCORE_APSC_NOV18'
df_temp = df.dropna(subset = [score])[df["RISK_AGRF30"]==1]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tGini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)

Score : POS_AUG20_GM 		Observables : 2652 		Gini : 0.07304642225340086
Score : POS_AUG20_GM_WO_PRODUCT 		Observables : 2525 		Gini : 0.057659606846768074
Score : SCORE_APSC_NOV18 		Observables : 3047 		Gini : 0.06617914418034987

C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

# Pentile wise FPD30 rate

In [33]:
score = 'POS_AUG20_GM'
df_temp = df.dropna(subset = [score])[df["RISK_AGRF30"]==1]
df_temp["SCORE_BIN"] = pd.qcut(df_temp[score],q=5, precision = 3)
df_temp.head()
print(score)
df_temp.groupby("SCORE_BIN")["RISK_FPD30"].agg(['count','sum','mean']).rename(columns={'count':'Total_Case',
                                                                                                      'sum':'FPD30_Delinq',
                                                                                                      'mean':'FPD30_Rate'})

POS_AUG20_GM

C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                                  Total_Case  FPD30_Delinq  FPD30_Rate
SCORE_BIN
(-9.999999999999159e-07, 0.0105]         531            27    0.050847
(0.0105, 0.0151]                         530            20    0.037736
(0.0151, 0.0201]                         530            14    0.026415
(0.0201, 0.0267]                         530            37    0.069811
(0.0267, 0.123]                          531            32    0.060264

In [34]:
score = 'POS_AUG20_GM_WO_PRODUCT'
df_temp = df.dropna(subset = [score])[df["RISK_AGRF30"]==1]
df_temp["SCORE_BIN"] = pd.qcut(df_temp[score],q=5, precision = 3)
df_temp.head()
print(score)
df_temp.groupby("SCORE_BIN")["RISK_FPD30"].agg(['count','sum','mean']).rename(columns={'count':'Total_Case',
                                                                                                      'sum':'FPD30_Delinq',
                                                                                                      'mean':'FPD30_Rate'})

POS_AUG20_GM_WO_PRODUCT

C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                   Total_Case  FPD30_Delinq  FPD30_Rate
SCORE_BIN
(0.00025, 0.0138]         507            29    0.057199
(0.0138, 0.0199]          503            17    0.033797
(0.0199, 0.0268]          506            22    0.043478
(0.0268, 0.0358]          504            27    0.053571
(0.0358, 0.153]           505            31    0.061386

In [35]:
score = 'SCORE_APSC_NOV18'
df_temp = df.dropna(subset = [score])[df["RISK_AGRF30"]==1]
df_temp["SCORE_BIN"] = pd.qcut(df_temp[score],q=5, precision = 3)
df_temp.head()
print(score)
df_temp.groupby("SCORE_BIN")["RISK_FPD30"].agg(['count','sum','mean']).rename(columns={'count':'Total_Case',
                                                                                                      'sum':'FPD30_Delinq',
                                                                                                      'mean':'FPD30_Rate'})

SCORE_APSC_NOV18

                    Total_Case  FPD30_Delinq  FPD30_Rate
SCORE_BIN
(0.0005, 0.00599]          610            23    0.037705
(0.00599, 0.00737]         609            25    0.041051
(0.00737, 0.00879]         609            36    0.059113
(0.00879, 0.0107]          609            31    0.050903
(0.0107, 0.0515]           610            29    0.047541

# Bureau Found Not Found FPD30 Rate

In [30]:
df[df["RISK_AGRF30"]==1].groupby("NTC_FLAG")["RISK_FPD30"].agg(['count','sum','mean']).rename(columns={'count':'Total_Case',
                                                                                                      'sum':'FPD30_Delinq',
                                                                                                      'mean':'FPD30_Rate'})

          Total_Case  FPD30_Delinq  FPD30_Rate
NTC_FLAG
NTC             2077            97    0.046702
Others           970            47    0.048454

In [25]:
score = 'POS_AUG20_GM'
df_temp = df.dropna(subset = [score])[(df["RISK_AGRF30"]==1)&(df["NTC_FLAG"]=='NTC')]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tNTC Gini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)
df_temp = df.dropna(subset = [score])[(df["RISK_AGRF30"]==1)&(df["NTC_FLAG"]!='NTC')]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tExi Gini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)


score = 'POS_AUG20_GM_WO_PRODUCT'
df_temp = df.dropna(subset = [score])[(df["RISK_AGRF30"]==1)&(df["NTC_FLAG"]=='NTC')]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tNTC Gini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)
df_temp = df.dropna(subset = [score])[(df["RISK_AGRF30"]==1)&(df["NTC_FLAG"]!='NTC')]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tExi Gini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)


score = 'SCORE_APSC_NOV18'
df_temp = df.dropna(subset = [score])[(df["RISK_AGRF30"]==1)&(df["NTC_FLAG"]=='NTC')]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tNTC Gini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)
df_temp = df.dropna(subset = [score])[(df["RISK_AGRF30"]==1)&(df["NTC_FLAG"]!='NTC')]
print("Score :", score, "\t\tObservables :", len(df_temp), "\t\tExi Gini :", 2*roc_auc_score(df_temp["RISK_FPD30"],df_temp[score])-1)

Score : POS_AUG20_GM 		Observables : 1809 		NTC Gini : 0.05930803876074808
Score : POS_AUG20_GM 		Observables : 843 		Exi Gini : 0.09445836814257857
Score : POS_AUG20_GM_WO_PRODUCT 		Observables : 1726 		NTC Gini : 0.06475842468534321
Score : POS_AUG20_GM_WO_PRODUCT 		Observables : 799 		Exi Gini : 0.04054224067434098
Score : SCORE_APSC_NOV18 		Observables : 2077 		NTC Gini : 0.03581172550244727
Score : SCORE_APSC_NOV18 		Observables : 970 		Exi Gini : 0.12583850072612424

C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
C:\Users\aman.khatri91425\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()